
body{
    width: 100%;
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background-color: red;
}

.inner_header{
    text-align: center;
    margin-left: -11%;
}

.inner_header img{
width: 10%;
}

.logo_container{
    display: inline-block;
    color: white;
}
.logo_container h1{
font-size: 5vw;
}
.nav li a 
{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #00ffff45;
    
}

/* unvisited link */

a:link {
    color: #10100f;
}

/* visited link */

a:visited {
    color: #161717;
}

/* mouse over link */

a:hover {
    background-color: rgb(14, 9, 22);
    color: white;
}

/* selected link */

a:active {
    color: red;
}