body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    background-color: black;
}

.inner_header {
    text-align: center;
    /*margin: 0 auto;*/
}

.logo_container {
    display: inline-block;
    line-height: 5px;
    color: rgb(183, 199, 243);
    
}

.nav {
    text-align: center;
    background-color: grey;
    color: rgb(255, 215, 215);
    padding: 10px;
    
}

.nav li a {
   /* text-decoration: none;
    /*margin: 10px*/ 
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center; 
}

.nav ul,
li {
    list-style-type: none;
    /*display: inline;*/
    margin: 0;
    padding: 0
}

/* unvisited link */

a:link {
    color: #10100f;
}

/* visited link */

a:visited {
    color: #161717;
}

/* mouse over link */

a:hover {
    background-color: rgb(14, 9, 22);
    color: white;
}

/* selected link */

a:active {
    color: red;
}