/***************************************body**************************************/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;    
    background-color: #f4f4f4;
}

/*********************************** header container **************************************/

.container {
    width: 80%;
    margin: auto;
  overflow: hidden; 

}

ul {
    margin: 0;
    padding: 0;
}

/*********************************** header **************************************/

header {
    background-color: #333333;
    min-height: 70%;
    color: #0000ff;
}

/*********************************** This will wrap the header content ***********/

.wrap {
    text-align: center;
}

/*********************************** Site-Name | logo | motto ********************/

.branding {
    display: inline-block;
    
}

/*********************************** This will style the nav *********************/

.nav li{
    list-style-type: none;
    display:inline;
    padding: 10px;
}    

.nav li a {   
       
    text-decoration: none;
    padding: 5px;    
}

.nav {
    text-align: center;
    background-color: grey;
    padding-top: 5px;

    }
/************************************ This will style the page content************/


/*
******************************** This will style the image and weather summary*/
.wrap2 {
    position: relative;
    margin: 10px auto;
    
}
    .wrap2 img{
    width:100%;
    
} 
.container h2{
    text-align: center;
    font-size: 36px;
}

.summary{
    position: absolute;
    background-color: blueviolet;
    opacity: .5;
    width: 25%;
    text-align: center;
    top: 25px;
    left:15px;
    color: white;
    
}
/****************This will style the first article********************************/

.olojo_wrap{
    
    text-align: center;
    padding: 20px 20px 20px 20px; 

    
    
}
article{
    width:80%;
    margin: 0 auto;
}
.article1{
    margin: auto;
    background-color: lightgray;
    
}

.olojo img{
   
   float: right;
   width:40%;
   margin-top: 20px;
}

.body{
    text-align: left;
    margin-left: 20px;
}
.last{
       
    width: 80%;
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8rem;
    margin: 0 auto;
    overflow: hidden;
    
      
}
.contact h5{
    margin-top: 10px;
   
    
    
}
.contact{
    margin-left: 30px;
     
  }

  .contact img{
   width: 30%;
 float: right;
 margin-top:-20px;
  }

  .socialMedia a {
    text-decoration: none;
    
}
.socialMedia a:hover {
    color: white;
}
.google{
    left: 20%;
    
  
}
footer{
    color: white;
    background-color: black;
    text-align: center;
}
/******Media query***************************************************/


         
} 
.container h2{
    text-align: center;
    font-size: 18px;
}   
    

}
.weather_data th,
td {
    border: 1px solid;
}

.wraptable {
    margin: 0 auto;
    width: 25vw;
}

.weather_data {
    border-collapse: collapse;
    width: 15vw;
    text-align: center;
}*/

 a:link {
    color: black;
}
a:visited {
    color: rgb(35, 41, 119);
}



a:focus {
    color: blue;
}

a:hover {
    background-color: black;
    color:white;
}



a:active {
    color: lime;
}