
section{
    display: flex;
    flex-flow: row;
    width: 80%;
    margin: auto;
}
article{
   
   text-align: center;
   width: 35%;
   margin:  1px;
   border: 1px solid black;
   
}
h2{
    color:red;
  
}
p{
    font-size: 15px;
}
@media screen and (max-width:320px){
    section{
        display:flex;
        flex-flow: column;
        width: 100%;
        margin: auto;
    }
    article{
   
        text-align: center;
        width: 100%;
        margin:  1px;
        border: 1px solid black;
        
     }
}
 